<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>brandlar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    <!--css larni ulash uchun-->
</head>
<body style="background-color: #14677c">
<h1 style="background-color:darkcyan;text-align:center;margin:30px;color:#8df8bb;font-family: sans-serif;padding:20px;border-radius: 20px">
    Bu yerda siz telefonlar haqida malumot olishingiz mumkin!</h1>
<table class="styled-table">
    <thead style="border-radius: 10px">
    <tr>
        <th>#</th>
        <th>Brand</th>
    </tr>
    </thead>
    <tbody style="color: #21a1a1">
    {% for x in sort_brand %}
        <tr style="color: #0b602a">
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'madel_list' madel_id=x.id %}">{{ x.name }}</a> </td>
        </tr>
    {% endfor %}

    </tbody>

</table>

</body>
</html>